# The absolute path on the guest machine to the folder that hosts your
# passenger_wsgi.py file.
#
# By default, your project lives in the /vagrant/django folder of the guest
# machine unless you have copied it elsewhere during your setup.sh script.
WSGI_PATH='/vagrant/django/myapp'

# Mysql root password
MYSQL_PASSWORD='django'
